.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

.btn.btn-outline-info.mr-sm-4.my-2.my-sm-0.current {
    border: 3px solid rgba(249, 241, 5, 0.7);
}


